<div class="recipes-page container">
  <header class="header">
    <h1>Recipes</h1>
    <p class="subtitle">Browse and manage your recipe collection</p>
  </header>

  <app-recipes-search [search]="search()" [selectedTag]="tag()" (searchChange)="onSearch($event)"
    (tagChange)="onTagChange($event)" />

  <section class="content">
    @if (loading()) {
    <div class="center">
      <mat-spinner diameter="60"></mat-spinner>
      <p>Finding tasty recipes...</p>
    </div>
    } @else if (error()) {
    <div class="center error">
      <h3>Something went wrong</h3>
      <p>{{ error() }}</p>
      <button mat-raised-button color="primary" (click)="retry()">
        Retry
      </button>
    </div>
    } @else if (recipes().length === 0) {
    <div class="center empty">
      <h3>Nothing found</h3>
      <p>Try to change search or tag</p>
    </div>
    } @else {
    <app-recipes-table 
      [recipes]="recipes()" 
      (edit)="onEditRecipe($event)"
      (delete)="onDeleteRecipe($event)"
    />
    <app-recipes-pagination [total]="total()" [limit]="limit" [currentPage]="page()"
      (pageChange)="onPageChange($event)" />
    }
  </section>
</div>
